:root {
  --bgColor: #E3AC82;
  --textColor: black;
  --textHoverColor: #ED2939;
  --yellow: #C9AC9B;
}

body {  font-family: "Times New Roman", Times, serif;

  background-color: var(--bgColor);
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

a:link, a:visited, a, p {
  color: var(--textColor);
  line-height: 48px;
  text-decoration: none;
  font-size: 24px;
}

a:hover {
  color: var(--textHoverColor);
}

h3 {
  color: var(--textHoverColor);
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.right {
  float:right;
    display:inline;
}

.info {
  display: block;
  position:absolute;
  width: 40%;
  margin-left: 30%;
  margin-top: 50%;
  font-size: 24px;
}

button {
  width: 100%;
  background-color: var(--yellow);
  padding: 14px 20px;
  margin: 4px 0;
  border: 4px var(--textColor) solid;
  cursor: pointer;
}

button:hover {
  background-color: var(--textHoverColor);
}


button:active {
  background-color: #6A3F14;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input[type=submit] {
  width: 100%;
  background-color: var(--yellow);
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  width: 97%;
  height: 25px;
  border: 4px var(--textColor) solid;
  background-color: var(--yellow);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sliderWrapper {
  width: 97%;
  overflow:hidden;
  white-space: pre-wrap;

}

.sliderText {
  white-space: pre-line;
  font-size: 1.1vw;
  margin-top: -7px;
  margin-left: 10px;
    position:absolute;
}
